// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-base: 'Magallanes', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white:#FFFFFF;
$blue: #0F358E;
$light-blue: #0DBEFF;
$medium-blue: #3975BB;
$dark-blue: #030F27;
$red-one: #fa2b56;
$red-two: #f91c3d;
$grey: #595F6F;

$border-radius:8px;
